QMenuBar, QToolBar, QToolBar QToolButton { background-color: transparent; }

QLineEdit { padding: 5;}

QScrollArea { border: 0 solid; }

QListWidget::item {padding: 5;}
QListWidget::item { padding: 10; }

QPushButton { padding: 5; }